#userWelcome{
    display: inline-block;
    float: right;
    padding-top: 15px;
}

button.submit {
  float: right;
}

form#cms {
  margin-top: 50px;
}

#cms textarea {
  resize: none;
}

.panel-heading button.delete,
button.edit, button.public {
  float: right;
  margin: 5px;
}

.author-container {
  margin-top: 50px;
}

.author-list {
  margin-top: 25px;
}

.diary-container {
  margin-top: 30px;
}

.diary {
  margin-top: 30px;
}

.hidden {
  display: none;
}

#author-name {
  width: 100%;
  height: 35px;
  margin-top: 5px;
}

.top-30 {
  margin-top: 30px;
}

.welcomeInfo {
  text-align: center;
  font-style: italic;
}

.socialMediaIcon {
  max-width: 16px;
}

.signUpTitle {
  font-weight: bold;
}

.footer {
  padding-bottom: 15px;
  border-top: 1px solid #dbdbdb;
  position: fixed;
  bottom: 0;
  height: 40px;
  width: 100%;
  background-color: whitesmoke;
  text-align: center;
}

body {
  background: url("../images/photo2.jpg")repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h2 {
  text-align: center;
  font-style: italic;
}

.navbar-brand {
  font-size: 200%;
  text-align: center;
  font-style: italic;
  font-weight: bold;
}


